<div class="container my-5" style="max-width:450px">
  <div class="card card-shadow p-4">
    <h5>Login</h5>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input class="form-control" placeholder="you@example.com">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" placeholder="••••••••">
    </div>
    <button class="btn btn-primary w-100">Login</button>
    <div class="text-center mt-2">
      New user? <a routerLink="/register">Register</a>
    </div>
  </div>
</div>
