 <!-- <h3>One-way Binding Example</h3>


 <p>{{name}}</p>

 <h3>Two-Way Binding Example</h3>

  <input type="text" [(ngModel)]="name" class="form-control" placeholder="Enter your name" />
  <button class="btn btn-primary" (click)="printName()">Print Name</button>

  <p class="mt-2">Hello, {{ name }}!</p>

  <h3>Directives-for</h3>

  <ul>
    @for (person of nameList; track $index) {
      <li>{{ person }}</li>
    }
  </ul> -->

  <!-- <app-conditionalcomp></app-conditionalcomp> -->\

  <!-- <app-country-list></app-country-list> -->
   <!-- <app-switchdemo></app-switchdemo> -->
    <!-- <app-searchfilter></app-searchfilter> -->
     <app-ex15-home></app-ex15-home>