<!-- <h2>Uppercase Pipe Demo</h2>

<input type="text" [(ngModel)]="inputText" placeholder="Type something..." />

<p>Transformed: {{ inputText | uppercase }}</p> -->


<!-- <h2>Calendar Control Example</h2>


<input type="date" [(ngModel)]="selectedDate" />

<p *ngIf="selectedDate">Selected Date: {{ selectedDate | date:'short' }}</p> -->


<!-- <h2>Temperature Converter</h2>

<input type="number" [(ngModel)]="celsius" placeholder="Enter Celsius" />

<p>Fahrenheit: {{ celsius | celsiusToFahrenheit }}</p> -->


<h2>Custom Directive Example</h2>
    <p appHighlightstrikethru>This text is highlighted in yellow and strikethrough.</p>


